!!! 5
html(lang="en")
  head
    title= "Cumulonimbus"
    script(type='text/javascript')
      if (foo) {
         bar()
      }
  body
    h1 Upload all your fine work to Cumulonimbus
    #container
      form(method = "POST", action = "/", enctype = "multipart/form-data")
        p
            input(name="title", type="text", placeholder="Enter a title", size=50)
        p
            input(name="file", type="file")
        p
            input(name="submit", type="submit")
