!!! 5
html(lang="en")
  head
    title= "Cumulonimbus"
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.7.1.js")
    script(type="text/javascript")
        $(document).ready(function(){
            $("#file").change(function(){
                this.form.submit();
            });
            $("#upload_response_secret_frame").load(function(){
               $("#status").html($("#upload_response_secret_frame").contents().find("#result").html());
            });

        });
  body
    h1 Upload all your fine work to Cumulonimbus
    #container
        p
            #status.
                Select a file!
        form(method = "POST", action = "/", enctype = "multipart/form-data", target = "upload_response_secret_frame")
            p
                input(name="id", value="foo", type="hidden")
                input(id="file", name="file", type="file")
                iframe(id="upload_response_secret_frame", name="upload_response_secret_frame", src="", style="width:0;height:0;")
        p
            input(name="title", type="text", placeholder="Enter a title", size=50)
        p
            input(id="confirm", name="confirm", type="submit", value="Confirm")
