!!! 5
html(lang="en")
  head
    title= "Cumulonimbus"
    script(type='text/javascript')
      if (foo) {
         bar()
      }
  body
    h1 Update all your fine work to Cumulonimbus
    #container
      form(method = "POST", action = "/")
        p
            input(name="title", type="text", placeholder="Enter a title", size=50)
        p
            input(name="foo", type="submit")
