!!! 5
html(lang="en")
  head
    title= "Cumulonimbus"
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.7.1.js")
    script(type="text/javascript")
        $(document).ready(function(){
            $("#file").change(function(){
                console.log("hi");
                $("#confirm").click();
            });
        });
  body
    h1 Upload all your fine work to Cumulonimbus
    #container
      form(method = "POST", action = "/", enctype = "multipart/form-data")
        p
            input(name="title", type="text", placeholder="Enter a title", size=50)
        p
            input(id="file", name="file", type="file")
        p
            input(id="confirm", name="confirm", type="submit", value="Confirm")
